flask
graphviz
jsonlines
librosa
lightning-bolts
matplotlib
mido
numpy
pyheaven==0.1.5.5
pyobjc-framework-Cocoa~=7.1
pytorch-lightning>=1.5.9
requests
seaborn
torch>=1.10.1
torchaudio>=0.10.1
tqdm
wandb
werkzeug